@mixin mobile {
	@media (max-width: 480px) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: 481px) and (max-width: 768px) {
		@content;
	}
}

@mixin hide-text($line-count) {
	overflow: hidden;
	text-overflow: ellipsis;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line-count;
	line-clamp: $line-count;

	// word-wrap: break-word;
	// word-break: break-word;
}
