:root {
	/*=======COLORS=======*/
	//Base
	--at-ui-colors-primary: #8774e1;
	--at-ui-colors-background: var(--at-color-black-700);
	--at-ui-colors-text-primary: var(--at-color-white-900);
	--at-ui-colors-text-secondary: #bfbfbf;

	--at-star-active-color: #ffbf0f;
	--at-star-inactive-color: var(--at-color-gray-300);
	/*====================*/

	/*=======TEXT FONT SIZE=======*/
	/* Desktop (1440px+) */
	--at-ui-text-fs-h1-desktop: 2.25rem;
	--at-ui-text-fs-h2-desktop: 1.875rem;
	--at-ui-text-fs-h3-desktop: 1.5rem;
	--at-ui-text-fs-standard-desktop: 1.125rem;

	/* Tablet (768px-1439px) */
	--at-ui-text-fs-h1-tablet: 1.75rem;
	--at-ui-text-fs-h2-tablet: 1.375rem;
	--at-ui-text-fs-h3-tablet: 1.125rem;
	--at-ui-text-fs-standard-tablet: 1rem;

	/* Phone (375px-767px) */
	--at-ui-text-fs-h1-phone: 1.5rem;
	--at-ui-text-fs-h2-phone: 1.25rem;
	--at-ui-text-fs-h3-phone: 1rem;
	--at-ui-text-fs-standard-phone: 0.875rem;
	/*============================*/

	/*=======CARD=======*/
	//maybe remove 'ui' prefix
	--at-ui-card-poster-width: 240px;

	--at-ui-card-background: var(--at-color-black-400);
	--at-ui-card-padding: 48px 26px;
	--at-ui-card-height: 550px;
	--at-ui-card-width: 400px;
}
