.wrapper {
	color: var(--at-color-white-800);

	margin: 0 auto;
	align-self: center;
	max-width: 1200px;
	width: 100%;
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 1.35rem;
	margin-top: 2rem;

	.main {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}
}
