.promo {
	display: flex;
	gap: 4rem;

	.info {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1.5rem;

		// .title {
		// 	color: var(--at-color-white-500);

		// 	//TODO: Make "universal" var for auto-choose desktop/mobile/tablet
		// 	font-size: calc(var(--at-ui-text-fs-standard-desktop) * 0.9);
		// }

		.rating {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;

			.icon {
				color: var(--at-color-gray-200);
			}

			span {
				color: var(--at-color-white-800);

				font-size: calc(var(--at-ui-text-fs-standard-desktop) * 0.9);
			}
		}

		.actions {
			width: 100%;

			display: flex;
			align-items: center;
			justify-content: space-between;

			.left {
				display: flex;
				align-items: center;
				gap: 1rem;
			}

			.right {
			}
		}
	}
}
