.addCriteriaForm {
	.criteriaTitleField {
		flex-grow: 1;
	}
	.criteriaTitleField input {
		background: none;
		border-right: 2px solid var(--at-color-gray-700);
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	// .criteriaWeightField {
	// 	flex-grow: 0.1;
	// }

	.criteriaWeightField input {
		background: none;
		border-right: 2px solid var(--at-color-gray-700);
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: 9px;
	padding-left: 12px;
	padding-right: 4px;

	border-top: 1px solid var(--at-color-black-100);
	background: var(--at-color-black-300);
	border-radius: 6px;

	// border-end-end-radius: 6px;
	// border-end-start-radius: 6px;
}
