@use '@styles/helpers.scss' as h;

.wrapper {
	width: 100%;

	display: flex;
	align-items: flex-start;
	// gap: 0.75rem;

	// background: var(--at-color-gray-950);
	border-radius: 8px;

	// padding: 0.8rem;
}
.moreActions {
	background: h.hex-w-alpha(var(--at-color-gray-800), 0.6);
	// border-radius: 10px;
	height: 100%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

	padding: 0.5rem;

	display: flex;
	align-items: center;
	justify-content: center;

	color: var(--at-color-gray-100);

	&:hover {
		background: h.hex-w-alpha(var(--at-color-gray-600), 0.55);
		transition: background 150ms ease-in;
	}
}
