@use '@styles/helpers.scss' as h;

.moreButton {
	width: 100%;
	// display: flex;
	// align-items: center;
	// justify-content: center;

	padding: 1rem;

	color: var(--at-color-gray-100);

	background: h.hex-w-alpha(var(--at-color-gray-800), 0.6);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;

	&:hover {
		background: h.hex-w-alpha(var(--at-color-gray-600), 0.55);
		transition: background 150ms ease-in;
	}

	transition: background 150ms ease-out;
}
