.section {
	padding: 1rem 0.75rem;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;

	background: var(--at-color-black-500);

	border-radius: 8px;

	.sectionSubTitle {
		color: var(--at-color-white-500);
	}

	.metadataWrapper {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
}

.buttonsWrapper {
	padding: 1rem 0.75rem;

	background: var(--at-color-black-500);

	border-radius: 8px;

	.button {
		padding: 0.75rem 1rem;
		font-size: 1.125rem;
	}
}
