@use '@styles/helpers' as h;

.cardWrapper {
	position: relative;

	cursor: pointer;

	flex: 1 0 var(--at-ui-card-width);
	width: var(--at-ui-card-width);
	height: var(--at-ui-card-height);

	padding: var(--at-ui-card-padding);

	background: var(--at-ui-card-background);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 1rem;

	border-radius: 10px;

	transition: all 200ms ease-out;

	&:hover {
		scale: (1.06);
		transition: all 150ms ease-in;
		background: h.hex-w-alpha(var(--at-ui-card-background), 0.65);
	}

	.card {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		.badge {
			border: 1px solid var(--at-color-black-700);
			border-radius: 3px;

			width: 36px;
			height: 36px;

			position: absolute;
			top: 1rem;
			left: 1rem;

			background: var(--badge-bg-c);

			display: flex;
			align-items: center;
			justify-content: center;

			.tier {
				font-size: calc(var(--at-ui-text-fs-standard-desktop) * 1.2);
				font-weight: 500;
			}
		}

		.cardPoster {
			--card-poster-width: 15rem;

			flex-grow: 1;

			border: 2px solid var(--at-color-black-100);

			width: var(--card-poster-width);
			max-width: var(--card-poster-width);
			height: auto;

			border-radius: 50%;

			img {
				border-radius: 50%;
				aspect-ratio: 1;
				object-fit: cover;
				object-position: center;
			}
		}

		.cardTitle {
			text-align: center;
			line-height: 1.2;
		}
	}
}
